@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}
body {

    background-color: rgb(226, 218, 206);
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    padding-bottom: 20px;


    background-color: #ecf0f1;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

#logo {
    padding-left: 20px;
}

.btn-group {
    padding-right: 20px;
}

.btn-group a {
    text-decoration: none;
    color: rgb(247, 242, 242);
    color: black;
}

img {
    max-width: 100%;
    max-height: 100%;
}
.Sol{
  width: 75%;
  float:left;
  margin: 2px;
  padding:10px;
  padding-right: 0px;
}
.Sag{
  float: right;
  width: 15%;	
  margin: 2px;
  padding: 10px;
  background-color:cadetblue;
  flex-direction: column;
  align-items: center;
  scroll-behavior: auto;
}

/* 1.yazar kartı css başlangıcı */
.card1 {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  width: 350px;
}

.card-header1 {
  height: 200px;
}

.card-header1 img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.card-content1 {
  background-color: #fff;
  padding: 30px;
}

.card-title1 {
  height: 40px;
  margin: 0;
}

.card-excerpt1 {
  color: #777;
  margin: 20px 0 20px;
}

.author1 {
  display: flex;
}

.profile-img1 {
  border-radius: 50%;
  overflow: hidden;
  height: 40px;
  width: 40px;
}

.author-info1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 10px;
  width: 100px;
}

.author-info1 small {
  color: #aaa;
  margin-top: 5px;
}

.animated-bg1 {
  background-image: linear-gradient(
    to right,
    #f6f7f8 0%,
    #edeef1 10%,
    #f6f7f8 20%,
    #f6f7f8 100%
  );
  background-size: 200% 100%;
}

.animated-bg-text1 {
  border-radius: 50px;
  display: inline-block;
  margin: 0;
  height: 10px;
  width: 100%;
}
/* 1. yazar kartı css sonu */


/* 2.yazar kartı css başlangıcı */
.card2 {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  width: 350px;
}

.card-header2 {
  height: 200px;
}

.card-header2 img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.card-content2 {
  background-color: #fff;
  padding: 30px;
}

.card-title2 {
  height: 40px;
  margin: 0;
}

.card-excerpt2 {
  color: #777;
  margin: 20px 0 20px;
}

.author2 {
  display: flex;
}

.profile-img2 {
  border-radius: 50%;
  overflow: hidden;
  height: 40px;
  width: 40px;
}

.author-info2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 10px;
  width: 100px;
}

.author-info2 small {
  color: #aaa;
  margin-top: 5px;
}

.animated-bg2 {
  background-image: linear-gradient(
    to right,
    #f6f7f8 0%,
    #edeef1 10%,
    #f6f7f8 20%,
    #f6f7f8 100%
  );
  background-size: 200% 100%;
  animation: bgPos 1s linear infinite;
}

.animated-bg-text2 {
  border-radius: 50px;
  display: inline-block;
  margin: 0;
  height: 10px;
  width: 100%;
}
/* 2. yazar kartı css sonu */






@keyframes bgPos {
  0% {
    background-position: 50% 0;
  }

  100% {
    background-position: -150% 0;
  }
}